.main-box {
  display: flex;
  justify-content: space-around;
}

.main-box .custom-input-label {
  font-size: 18px;
  font-weight: 500;
  color: rgb(20, 30, 55);
}

.main-box .form-control {
  width: 240px;
}

.main-box .amount-input input {
  height: 1.175rem;
}

.main-box .currency-select div {
  max-height: 1.175rem;
  min-height: 1.175rem;
}

.main-box .swapper-icon-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box .swap-currencies-button {
  border: 1px solid #dddddd;
  border-radius: 99px;
}

.currency-converter-main-box {
  margin-top: 24px;
}

.currency-converter-main-box .currency-converter-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.currency-converter-result-box .currency-converter-from-text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7;
  color: rgb(92, 102, 123);
}

.currency-converter-result-box .currency-converter-to-whole-part-text {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.7;
  color: rgb(46, 60, 87);
}

.currency-converter-result-box .currency-converter-to-remainder-text {
  color: rgb(161, 186, 176);
}

.currency-converter-rates-box .currency-converter-rates-text {
  color: rgb(92, 102, 123);
  line-height: 1.7;
}
