.currency_converter_main_box {
  margin-top: 24px;
}

.currency_converter_main_box .currency_converter_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.currency_converter_result_box .currency_converter_from_text {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.7;
  color: rgb(92, 102, 123);
}

.currency_converter_result_box .currency_converter_to_whole_part_text {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.7;
  color: rgb(46, 60, 87);
}

.currency_converter_result_box .currency_converter_to_remainder_text {
  color: rgb(161, 186, 176);
}

.currency_converter_rates_text .currency_converter_rates_text {
  color: rgb(92, 102, 123);
  line-height: 1.7;
}
